.passport_num{
    margin-left: 30px;
    width:220px;
}
.doi_head{
    margin-left: 40px;
}
.doi,.doe{
    border: none;
    border: 1px solid rgb(150, 147, 147);
    margin-left: 20px;
    width: 17%;
    margin-bottom: 6px;
}
.poi{
    margin-left: 136px;
}
.passport_issue_yes{
    margin-left: 20px;
}
.passport_issue_no{
    margin-left: 20px;
    margin-bottom: 6px;
}