.father_name{
    width:100%;
}
.father_surname{
    width:100%;
}
.guardian_name{
    width:100%;
}
.guardian_surname{
    width:100%;
}
.mother_name{
    width:100%;
}
.mother_surname{
    width:100%;
    margin-bottom: 6px;
}