.type_input{
    margin-left: 18%;
    width: 30%;
}
.type_of_application_1{
    margin-left: 22%;
}
.type_of_application_2{
    margin-left: 4%;
}
.type_of_passport_1{
    margin-left: 193px;
}
.type_of_passport_2{
    margin-left: 28px;
}
.validation_1{
    margin-left: 21px;
}
.validation_2{
    margin-left: 34px
}
.validation_3{
    margin-left: 34px;
    margin-bottom:6px;
}